<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>Buckyball 管理后台 - 畅游乐园3.0 Powered by Node.js</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="<%= METR_PATH %>/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="<%= METR_PATH %>/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="<%= METR_PATH %>/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="<%= METR_PATH %>/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="<%= METR_PATH %>/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="<%= METR_PATH %>/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="<%= METR_PATH %>/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="<%= METR_PATH %>/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/bootstrap-fileupload.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/jquery.gritter.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/chosen.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/select2_metro.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/jquery.tagsinput.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/clockface.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/bootstrap-wysihtml5.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/datepicker.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/timepicker.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/colorpicker.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/bootstrap-toggle-buttons.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/daterangepicker.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/datetimepicker.css" />

	<link rel="stylesheet" type="text/css" href="<%= METR_PATH %>/css/multi-select-metro.css" />

	<link href="<%= METR_PATH %>/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="<%= METR_PATH %>/image/favicon.ico" />

</head>

<!-- END HEAD -->
